/*Formatação do corpo*/
body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
/*Formatação do cabeçario*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*Formatação do titulo*/
#title{
    flex-direction: column;
    line-height: 10px;
    color: rgb(252, 248, 6);
}
/*Formatação separada do topo direito*/
li{
    display: inline-block;
    margin: 20px;
}
/*Cor do menu topo*/
a{
    color: rgb(252, 248, 6);
}

/*Formatação padrão dos h1*/
h1{
    font-weight: 200;
    font-size: 20px;
}
/*Formatação para posicionar conteudo do Main*/
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
/*Formatação dos campos em h2*/
h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}
/*Pintar nome do usuário de amarelo conforme footo*/
span{
    color: rgb(219, 255, 15);
}

/*Formatar e direcionar imagem*/
img{
    width: 450px;
    margin-left: 150px;
}
/*Formatação do frm*/
form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
    
/*formatação dos input, ( input do button contact ) formato sem bordas*/
input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    height: 50px;
    width: 50%;
    background-color: rgb(229, 255, 0);
    color: white;
    font-weight: bold;
}
/*Layout Tela de Login*/
#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*Quadrado de fundo da tela de login*/
.card {
    background-color: rgba(8, 8, 8, 0.3);
    padding: 40px;
    border-radius: 2px;
    width: 280px;
}
/*Formatação do nome Login*/
.login-name {
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;
}
/*Linha abaixo do nome Login*/
.login-name::after {
    content: "";
    width: 145px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}
/*Formatação das letras ( usuário e senha)*/
.card-content label {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
}
/*formatação dos input (conteudo, etc)*/
.card-content-area {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
/*formatação dos input( e linhas abaixo)*/
.card-content-area input {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fcfbfb;
    outline: none;
    color: #fdf9f9;
    border-radius: 0;
}
/*formatação do campo esqueceu a senha*/
.card-footer {
    display: flex;
    flex-direction: column;
}
/*formatação do botão login*/
.card-footer .submit {
    width: 100%;
    height: 40px;
    background-color: #868827;
    color: #e1e1e1;
    margin: 10px 0;
    border-radius: 0%;
}
/*formatação do esqueceu a senha*/
.card-footer a {
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
}

/*Posição dos icones*/
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    margin-right: 500px;
}
/*Formatação dos icones*/
.socials li{
    margin: 0 10px;
}
/*Formatação dos icones (a)*/
.socials a{
    text-decoration: none;
    color: #fff;
}
/*Formatação dos icones (i)*/
.socials a i{
    font-size: 1.1rem;
    transition: color .3s ease;

}
/*Cor da transição ao passar mouse*/
.socials a:hover i{
    color: rgb(213, 250, 6);
}


.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-bottom-About p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin-top: 150px;
    
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
